<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="home.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <pages controlRenderingCompatibilityVersion="2.0" />
        <identity impersonate="true" />
        <authentication mode="Forms" />
    </system.web>
</configuration>
